h1 {
    /* pongo el color en rojo*/
    color : red;
}

h2 {
    /* pongo el color en azul*/
    color : blue;
}

/*
p, li {
    // pongo el color en verde
    color : green;
}
*/

p {
    color : green;
}


a:link {
    color : blue;
}

a:visited {
    color : red;
}

a {
    background-color: powderblue;
    transition: background-color 1.5s;
  }
  
a:hover {
background-color: gold;
text-decoration: none;
}

ul {
    list-style-type: upper-roman;
}

ol {
    list-style-type: none;
}

.numeros_romanos {
    list-style-type: upper-roman;
    font-size: 20px;
}

.abecedario {
    list-style-type: lower-alpha
}

.elementos_azules{
    color: blue;
}

.lista_none{
    list-style-type: none;
    color: red;
}

.lista_circle{
    list-style-type: circle;
    color: green;
}

.lista_square{
    list-style-type: square;
    color: gold;
}

.lista_disc{
    list-style-type: disc;
    color: blue;
}

#unh2concreto { /*identificadores id=*/
color: gold;
}
#textoprincipal {
    width: 350px;
    height: 150px;
    margin: 10px;
    padding: 25px;
    border: 5px solid black;
}
#listadesordenada {
    border: 5px solid red;
    background-color: lightgray; 
    padding: 10px; 
    margin: 25px; 
    width: 250px; 
    height: 200px;   
}
.caja1 {
    width: 250px;
    height: 200px;
    border: 5px solid red;
    background-color: lightgray;
    padding: 10px;
    margin: 25px;
}
.caja2 {
    width: 300px;
    height: 200px;
    border: 7px solid green;
    background-color: lightgray;
    color: white;
    padding: 5px;
    margin: 0px;
}